/* 11111 Default styling */

:root {
    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --teal: #00ABA9;
    --light-gray: #F0F0F0;
    --dark-gray: #E6E6E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h1 {
    font-size: 64px;
    font-weight: lighter;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

p {
    font-family: 'Abel', sans-serif;
}

/* 222222 Default styling */

/* 111111 Banner styling */

.header-container {
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "logo"
    "brand"
    "nav";
    margin-bottom: 50px;
}

.banner-logo {
    height: 105px;
    background: white;
    margin-bottom: 50px;
    grid-area: logo;
}

.banner-logo img {
    height: 210px;
    position: relative;
    bottom: 52.5px;
    display: block;
    margin: auto;
}

.brand-heading {
    grid-area: brand;
    font-size: 4em;
    font-family: 'Abel', sans-serif;
    text-align: center;
}

nav {
    grid-area: nav;
    font-family: 'Abel', sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 15px;
    font-size: 1.25em;
}

/* 222222 Banner styling */


.logo{
    font-family: 'Anton', sans-serif;
    height: 210px;
    width: 210px;
    border: 10px solid white;
    color: white;
    text-align: center;
    line-height: 190px;
    border-radius: 100px;
    font-size: 2.5em;
}

.products{
    display: grid;
    grid-template-columns: 5% 1fr 5% 1fr 5%;
    grid-template-rows: 1fr 5% 1fr;
    grid-template-areas:
    ". design . develop ."
    ". . . . ."
    ". support . host .";

}

.design{
    background-color: var(--red);
    grid-area: design;
}

.develop{
    background-color: var(--orange);
    grid-area: develop;
}
.support{
    background-color: var(--green);
    grid-area: support;
}
.host{
    background-color: var(--teal);
    grid-area: host;
}
.icon {
    height: 18px;
    width: 18px;
}

/* Quickly add a background color to a div for visual inspection */
.test {
    background: fuchsia;
}

body {
    background-color: var(--light-gray);
    margin-top: 75px;
}