/* 11111 Default styling */

:root {
    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --teal: #00ABA9;
    --light-gray: #F0F0F0;
    --dark-gray: #E6E6E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--light-gray);
    margin-top: 75px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h1 {
    font-size: 64px;
    font-weight: lighter;
    margin-bottom: 1em;
}

h2 {
    font-size: 48px;
    margin-bottom: .9em;
}

h3 {
    font-size: 40px;
    margin-bottom: .9em;
}

h4 {
    font-size: 32px;
    margin-bottom: .9em;
}

h5 {
    font-size: 28px;
}

p {
    font-family: 'Abel', sans-serif;
}

/* 222222 Default styling */

/* 111111 Banner styling */

.header-container {
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "logo"
    "brand"
    "nav";
    margin-bottom: 50px;
}

.banner-logo {
    height: 105px;
    background: white;
    margin-bottom: 50px;
    grid-area: logo;
}

.banner-logo img {
    height: 210px;
    position: relative;
    bottom: 52.5px;
    display: block;
    margin: auto;
}

.brand-heading {
    grid-area: brand;
    font-size: 4em;
    font-family: 'Abel', sans-serif;
    text-align: center;
}

nav {
    grid-area: nav;
    font-family: 'Abel', sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 15px;
    font-size: 1.25em;
}

/* 222222 Banner styling */


.logo{
    font-family: 'Anton', sans-serif;
    height: 210px;
    width: 210px;
    border: 10px solid white;
    color: white;
    text-align: center;
    line-height: 190px;
    border-radius: 110px;
    font-size: 2.5em;
}

.products{
    display: grid;
    grid-template-columns: 5% 1fr 5% 1fr 5%;
    grid-template-rows: 1fr 5% 1fr;
    grid-template-areas:
    ". design . develop ."
    ". . . . ."
    ". support . host ."
    ". main main main .";

    margin-bottom: 200px;
}

.design{
    background-color: var(--red);
    grid-area: design;
}

.develop{
    background-color: var(--orange);
    grid-area: develop;
}
.support{
    background-color: var(--green);
    grid-area: support;
}
.host{
    background-color: var(--teal);
    grid-area: host;
}

main {
    grid-area: main;
}

.hr{
    border: 1px solid var(--dark-gray);
    display: none;
}

.icon {
    height: 2em;
    width: 2em;
    font-family: 'Anton', sans-serif;
    /*fon;t-weight: bold*/
    font-size: 1em;
    border-radius: 50px;
    text-align: center;
    line-height: 2em;
}

.selected{
    font-family: 'Abel', sans-serif;
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-bottom: 2em;
}

article{
    display: grid;
    grid-template-rows: 1fr 5%;
    grid-template-columns: 10% 1fr 10%;
    margin-bottom: 2em;
}
article img{
    grid-area: 1/2/2/3;
    width: 100%;
    height: auto;
    border: 10px solid var(--dark-gray);
    border-radius: 10px;
    padding: 0;
}
.icon-bar{
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.icon-bar ul  {
    display: flex;
    list-style: none;

}

.icon-bar li  {
    padding: 0 3px;
}

.featured{
    font-family: 'Abel', sans-serif;
    font-size: 1.25em;
}
/* Quickly add a background color to a div for visual inspection */
.test {
    background: fuchsia;
}

/*small media queries*/

@media screen and (min-width:576px){

    body {
        /*background-color: var(--light-gray);*/
        margin-top: 0px;
    }


    .header-container {
        /*display: grid;*/
        grid-template-rows: 50px 75px 1px;
        /*grid-template-columns: 1fr;*/
        grid-template-areas:
                "logo"
                "nav"
                "brand";
        margin-bottom: 50px;
    }

    .banner-logo {
        height: 75px;
        background: var(--light-gray);
        margin-bottom: 0;
        /*grid-area: logo;*/
    }

    .banner-logo img {
        height: 105px;
        position: relative;
        top: 24.5px;
        /*bottom: 52.5px;*/
        display: block;
        margin: auto;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        background: white;
        height: 52.5px;
    }

    nav li:nth-of-type(2) {
    margin-right: 105px;
    }

    nav li:nth-of-type(3) {
        margin-left: 52.5px;
    }

    nav li {
        /*margin: 0 15px;*/
        font-size: .8em;
    }

    .brand-heading {
        /*grid-area: brand;*/
        font-size: 2em;
        /*font-family: 'Abel', sans-serif;*/
        /*text-align: center;*/
    }

    header h4 {
        font-weight: lighter;
    }

    .products{
        display: flex;
        justify-content: center;
        /*grid-template-columns: 5% 1fr 5% 1fr 5%;*/
        /*grid-template-rows: 1fr 5% 1fr;*/
        /*grid-template-areas:*/
        /*        ". design . develop ."*/
        /*        ". . . . ."*/
        /*        ". support . host ."*/
        /*        ". main main main .";*/

        margin-bottom: 20px;
    }
    .logo{
        /*font-family: 'Anton', sans-serif;*/
        height: 105px;
        width: 105px;
        border: 5px solid white;
        /*color: white;*/
        /*text-align: center;*/
        line-height: 95px;
        /*border-radius: 110px;*/
        font-size: 1.25em;
        margin: 0 3px;
    }
    .hr{
    display: block;
        grid-area: hr;
        width: 65%;
        height: 0;
        margin: 0 auto;
    }
    .selected{
        font-family: 'Abel', sans-serif;
        /*text-align: center;*/
        /*display: block;*/
        font-size: 1em;
        margin-bottom: 1.5em;
        grid-area: selected;
    }

    main {
        /*grid-area: main;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px 50px 250px 250px;
        grid-template-areas:
        "hr hr"
        "selected selected"
        "art-1 art-2"
        "art-3 art-4";
    }

    article:nth-of-type(1){
        grid-area: art-1;
    }
    article:nth-of-type(2){
        grid-area: art-2;
    }
    article:nth-of-type(3){
        grid-area: art-3;
    }
    article:nth-of-type(4){
          grid-area: art-4;
      }
    .icon {
        height: 18px;
        width: 18px;
        /*font-family: 'Anton', sans-serif;*/
        /*fon;t-weight: bold*/
        font-size: .5em;
        /*border-radius: 50px;*/
        /*text-align: center;*/
        line-height: 18px;
    }
    .featured{
        font-family: 'Abel', sans-serif;
        font-size: 1em;
    }
    /*.icon-bar{*/
    /*    !*grid-area: 2/2/3/3;*!*/
    /*    !*display: flex;*!*/
    /*    justify-content: space-around;*/
    /*    !*align-items: baseline;*!*/

    /*}*/

    article{
        /*display: grid;*/
        /*grid-template-rows: 1fr 5%;*/
        /*grid-template-columns: 10% 1fr 10%;*/
        margin-bottom: 70px;
        /* Since border-box is default, increasing margin-bottom moves the rows closer based on our current row size. /*
}